*{
    padding: 0;
    margin: 0;
}

.navbar ul li a{
    text-decoration: none;
    color: azure;
}

.navbar ul li a:hover{
    transition: 1s;
    color:#4169E1;
}
/* Sub-Menu */

.navbar ul ul{
    display: none;
    position: absolute;   
}

.navbar ul ul{
    width: 10%;
}

.navbar ul li:hover ul{
    display: block;    
}

.navbar ul ul li a{
    display:block;
}
/* Fim Sub-Menu */

/* Corpo */

.container{
    display: flex;
    justify-content: space-between;


}
.imgs{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    
    
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.texto h2{
}
