*{
    padding: 0;
    margin: 0;
}
/* Menu */
.navbar ul li a{
    text-decoration: none;
    color: azure;
}

.navbar ul li a:hover{
    transition: 1s;
    color:#4169E1;
}
/* Fim Menu */
.container-armamento{
    display: flex;
    padding: 0;
    margin: 5%;
    justify-content: center;
    align-items: center;
}

.descricao{
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.675);
    width: 80%;
    border-radius: 3vh;
    color: azure;
}

.descricao p{
    padding: 5%;
    font-size: 20px;
}

.descricao h2{
    text-decoration: none;
    color: azure;
    text-align: center;
    padding: 5%;
    outline: none;
}

.descricao img{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgs-armamento{
    display: flex;
    margin: 5%;
    border: #4169E1 solid;
}
    

