*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    height: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}
/* ESTILIZAÇÃO DO HEADER/NAVBAR */
.header{
    display: flex;
    padding: 1rem ;
    justify-content: space-between;
    border-bottom: 0.2rem solid #f2f6fa;
    background-image: linear-gradient(45deg,#554e9a 70%,#b8baea);
    color: white;
    
}
.icone h1{
    color: #173ede;
    }
    
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul{
    display: flex;
    list-style: none;
    width: 45%;
    justify-content: space-around;
    white-space: nowrap;
}

li{
    display: flex;
    flex-direction: row;
    display: inline-block;
    margin: 10%;
}

.botao {
    display: flex;
    justify-content: space-around;
    width: 12%;
    white-space: nowrap;
}

.Login, .SignUp{
    width: 5vw;
    height: 4vh;
    border-radius: 10px;
    border: 2px solid rgb(25, 25, 25);
    
}
/* FINAL DA ESTILIZAÇÃO HEADER/NAVBAR */

/* ESTILIZAÇÃO DO MENU */
.banner{
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: linear-gradient( #554e9a,#554e9a);
}

.banner .container{
    color: rgb(0, 0, 0);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p{
    font-size: 35px;
    width: 80%;
}
 .caixa, .caixas, .caixa1{
    display:flex ;
}
.caixas{
    background-image: linear-gradient(#554e9a,#b8baea);
}

.caixas{
    margin: 0% 0;
}

.caixa1{
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    margin: 7%;
    
}

.caixa1 img{
    width: 300px;
    height: 300px;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    border-radius: 10px
}
#arma{
    box-shadow: none;
}

.caixa1 .botaoCaixa{
    display: flex;
    flex-direction: column;
    padding: 10%;
}
.caixa1 h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 

