* {
    padding: 0;
    margin: 0;
}

body {
    background-attachment: fixed;
}

.navbar ul li a {
    text-decoration: none;
    color: #f0ffff;
}

.navbar ul li a:hover {
    transition: 1s;
    color: #4169E1;
}

/* Graficos */

.graficos {
    padding: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    background-color: #090d10ca;
}

.chart h2{
    color: #f0ffff;
}