@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://c.wallhere.com/photos/06/4a/CS_GO_Team_Counter_Strike_Counter_Strike_Global_Offensive-1965249.jpg!d);
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar ul li a{
    text-decoration: none;
    color: azure;
}

.navbar ul li a:hover{
    transition: 1s;
    color:#4169E1;
}




.descricao-mapas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border-radius: 1rem;
    border: #14100f solid;
    box-shadow: 10px 10px 8px #000000bf;
    background-color: #6b4d33ac;
}

.container-mapas{
    padding: 5%;
    margin: 5%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
    background-color: #93704879;
}

.texto-mapas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.imgs-mapas{
    display: flex;
    padding: 1%;
}

.imgs-texto{
    padding: 2%;
    text-align: center;
}

h2{
    font-family: 'Sono';
}

p {
    font-family: 'Sono, sans-serif;' !important;
}





