* {
    padding: 0;
    margin: 0;
}



.navbar ul li a {
    text-decoration: none;
    color: azure;
}

.navbar ul li a:hover {
    transition: 1s;
    color: #4169E1;
}

.contorno-sorteio {
    padding: 3%;
    margin-top: 5%;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 7.5%;
    background-color: #1f283788;
    border-radius: 3vh;
    box-shadow: 2px 2px 25px #060709;
}

.container-sorteio{
    padding: 5%;
    border-radius: 4vh;
    background-color: rgba(0, 0, 0, 0.2);
    
}

.label-sorteio {
    display: flex;
    justify-content: center;
    padding: 1%;
    color: azure;
}

.campo-sorteio {
    display: flex;
    justify-content: center;
    width: 100%;
}

.campo-sorteio input {
    width: 50%;
    height: 4vh;
    border-radius: 2vh;
    font-size: 20px;
}

.botao-sorteio {
    padding: 1%;
    display: flex;
    justify-content: center;

}

.botao-sorteio button {
    width: 50%;
    height: 4vh;
    border-radius: 2vh;
    outline: none;
}

button:hover{
    transition: 1s;
    background-color: #4169E1;
    opacity: 0.8;
}

#img_sorteio{
    padding: 5%;
    display: flex;
    align-items: center;
}

#img_sorteio img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mostrar-sorteio{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#frase_sorteio{
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.footer {
    background-color: rgba(0, 0, 0, 0.77);
    height: 100px;
    color: #fff;
    display: flex;
    font-size: 15px;
    justify-content: center;

  }
  

  .container-footer{
    text-align: center;
    align-items: center;
  }

  .container-footer h4{
    padding: 5%;
  }
  
  .footer .container-footer .version {
    font-size: 12px;
  }

  #frase_sorteio{
    color: #f0ffff;
  }